<div class="bg-body dark:bg-darkmode-body">
  {{ $title_image:= .Params.title_image }}
  {{ if $title_image }}
    <a href="{{ .RelPermalink }}">
      {{ partial "image" (dict "Src" $title_image "Alt" .Title "Class" "mb-6 w-full rounded") }}
    </a>
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  {{ $categories:= .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      <!-- <li class="mr-4 inline-block">
        <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
          <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
        </a>
      </li> -->
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i,$p:= $categories }}
          <a
            href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
            class="ms-1"
            >{{ . }}{{ if ne $i (sub (len $categories) 1) }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  {{ $tags:= .Params.tags }}
  {{ if $tags }}
    <ul class="mb-4">
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-tag mr-1"></i>
        {{ range $i,$p:= $tags }}
          <a
            href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/"
            class="ms-1"
            >{{ . }}{{ if ne $i (sub (len $tags) 1) }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  <p class="mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>
  {{ with .Params.link }}
    <a
      class="btn btn-outline-primary btn-sm"
      href="{{ . | absURL }}"
      {{ if strings.HasPrefix . `http` }}
        target="_blank" rel="noopener"
      {{ end }}>
      {{ i18n "link" }}
    </a>
  {{ end }}
</div>
