<!doctype html>
<html
  itemscope
  class="{{- if not site.Params.theme_switcher -}}
    {{- site.Params.theme_default -}}
  {{- end -}}"
  lang="{{ site.LanguageCode | default `en-US` }}"
  itemtype="http://schema.org/WebPage">
  <head>
    <!-- head (don't cache it) -->
    {{ partial "essentials/head.html" . }}


    <!-- style (always cache it) -->
    {{ partialCached "essentials/style.html" . }}


    <!-- google analytics -->
    {{ template "_internal/google_analytics.html" . }}
  </head>

  <body>
    <!-- cache partial only in production -->
    {{ if hugo.IsProduction }}
      {{ partialCached "preloader.html" . }}
      {{ partialCached "gtm-noscript.html" . }}
    {{ else }}
      {{ partial "preloader.html" . }}


      <!-- tailwind size indicator -->
      {{ partial "components/tw-size-indicator.html" . }}
    {{ end }}


    <!-- header (don't cache it) -->
    {{ partial "essentials/header.html" . }}
    {{ partial "search-modal.html" (dict "Context" . ) }}


    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <!-- cache partial only in production -->
    {{ if hugo.IsProduction }}
      {{ partialCached "essentials/footer.html" . }}
      {{ partialCached "essentials/script.html" . }}
    {{ else }}
      {{ partial "essentials/footer.html" . }}
      {{ partial "essentials/script.html" . }}
    {{ end }}
  </body>
</html>
