{{ define "main" }}
  <section class="mt-4 mb-14">
    {{ partial "page-header" . }}
    <div class="container">
      <ul class="text-center">
        {{ range .RegularPages }}
          <li class="m-3">
            <a
              href="{{ .Permalink }}"
              class="text-dark dark:text-darkmode-dark block text-xl">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
{{ end }}
