{{ define "main" }}
  <section class="mt-4 mb-14">
    {{ partial "page-header" . }}
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
