{{ define "main" }}
  <section class="mt-4 mb-14">
    {{ partial "page-header" . }}
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10 mb-14">
          <div class="content text-center">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {{ $pages := sort .RegularPages ".Params.order" }}
        {{ $paginator:= .Paginate $pages }}
        {{ range $paginator.Pages }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/game-card" . }}
          </div>
        {{ end }}
      </div>
      {{ partial "components/pagination.html" . }}
    </div>
  </section>
{{ end }}
