{{ define "main" }}
  <section class="mt-4 mb-14">
    {{ partial "page-header" . }}
    <div class="container text-center">
      <h3>by {{ .Params.creator }}</h3>
    </div>
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="text-center mt-4 mb-8">
            <a class="btn btn-outline-primary btn-sm mb-4" href="{{ .Params.link }}">
              Link to game →
            </a>
            <ul class="mb-4">
              {{ $categories:= .Params.categories }}
              {{ if $categories }}
                <li class="mr-4 inline-block">
                  <i class="fa-regular fa-folder mr-1"></i>
                  {{ range $i,$p:= $categories }}
                    <a
                      href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
                      class="ms-1"
                      >{{ . }}{{ if ne $i (sub (len $categories) 1) }}
                        {{ "," }}
                      {{ end }}
                    </a>
                  {{ end }}
                </li>
              {{ end }}
              {{ $tags:= .Params.tags }}
              {{ if $tags }}
                <li class="mr-4 inline-block">
                  <i class="fa-regular fa-tag mr-1"></i>
                  {{ range $i,$p:= $tags }}
                    <a
                      href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/"
                      class="ms-1"
                      >{{ . }}{{ if ne $i (sub (len $tags) 1) }}
                        {{ "," }}
                      {{ end }}
                    </a>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="content">
            {{ .Content }}
          </div>
          <div class="gallery justify-center">
            {{ with .Params.gallery_images }}
              {{ $assetsImage := resources.Match (add (string .) `/*`) }}
              {{ range $assetsImage }}
                {{ partial "image" (dict "Src" . "Alt" "Game image" "Class" "m-2 rounded" "Size" "330x220" ) }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
