{{ define "main" }}
  <section class="mt-4 mb-14">
    {{ partial "page-header" . }}
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7">
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
